body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background: grey url('../images/thingy2.png') repeat;
}

header{
  background: url('../images/thingy.png');
  font-size: 400%;
  width: 1540px;
  height: 150px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1{
  font-size: 200%
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
}

ul {
  background: #080808;
  padding: 10px;
}

ul li {
  background: #787878;
  padding: 5px;
  border: solid 2px white;
  display: inline-block;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li a:hover {
  color: #C0C0C0;
}

section {
  padding: 5px;
  margin: 5px;
  border: double 4px black;
}

section article {
  border: 3px solid black;
  border-radius: 0px 20px 20px 20px;
  margin: 5px 10px 5px 10px;
  padding: 10px;
  background: white;
}

footer {
  background: #F0F0F0;
}

footer h3 {
  text-align: center;
  font-weight: normal;
  font-size: 90%;
}
